.whatdoing{
   padding-top: 94px;
   padding-bottom: 94px;

	&__title{ 
		@include font(bold, 36px, 1.17, 0.03em, center);
   
		margin-bottom: 50px; 

   	color: $title-text;
}
}

.doing{
   display: flex;
   margin-left: auto;  
   margin-right: auto;

	&__image{	
		position: relative;
}
	&__image:not(:last-child){
   margin-right: 30px;
}

	&__text{
	bottom: 0;
	position: absolute;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	width: 370px;
	height: 70px;
	
	@include font(bold, 14px, 1.14, 0.03em, center);
	
	text-transform: uppercase;
	background: rgba(47, 48, 58, 0.8);
	color: $white;
	}	

}
